// підключення шрифта
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');
// Підключення файлу з обнуляючим стильом
@import "_nullstyle";
// ?Шаблони - міксіни - змінні
// ?_____________________________

body{
	font-family: 'Spline Sans Mono', monospace;
	font-size: 18px;
}

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}
.about {
	margin-bottom: 50px;
  &__img {
	  text-align: center;
	  margin-bottom: 15px;
	 img{
		 width: 100px;
		 height: 100px;
	 }
  }
  &__title {
	  text-align: center;
	  position: relative;
	  padding-bottom: 8px;
	  margin-bottom: 15px;
	}
	&__text {
		margin: 0 auto;
		text-align: center;
		line-height: 1.4em;
		max-width: 500px;
	}
}
.title {
	font-size: 30px;
	  font-weight: 600;
	  text-transform: uppercase;
	  &::after{
		content: '';
		position: absolute;
		width: 55px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: red;
		margin: 0 0 0 -25px;
	  }
}

.footer {
	
	&__title {
		text-align: center;
		position: relative;
		padding-bottom: 8px;
		margin-bottom: 15px;
	}
	&__text {
		margin: 0 auto;
		text-align: center;
		line-height: 1.4em;
		max-width: 500px;
	}
  }

  