// Підключення файлу з обнуляючим стильом
@import "_nullstyle";
// ?Шаблони - міксіни - змінні
// ?_____________________________

body{
	font-size: 18px;
	background: gray;
}

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}
.about {
  &__img {
	  text-align: center;
	  margin-bottom: 15px;
	 img{
		 width: 100px;
		 height: 100px;
	 }
  }
  &__title {
	  text-align: center;
	  position: relative;
	  padding-bottom: 8px;
	  margin-bottom: 15px;
	  &::after{
		content: '';
		position: absolute;
		width: 55px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: red;
		margin: 0 0 0 -25px;
	  }
  }
  &__text {
	  margin: 0 auto;
	  text-align: center;
	  max-width: 500px;
  }
}
.title {
	font-size: 30px;
	  font-weight: 600;
}
